@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --bg-hex: #FAEEED;
  --drawer-width: 280px;
  --gradient-edge: 26%;
  --sm-gradient-edge-off: 26.5%;
  --md-gradient-edge-off: 26.2%;
  --sm-header-height: 160px;
  --md-header-height: 490px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  background: var(--bg-hex);
  color: rgb(var(--foreground-rgb));
}

.bg-vGradientSm {
  background: linear-gradient(-60deg, var(--bg-hex) var(--gradient-edge), transparent var(--sm-gradient-edge-off)),
    linear-gradient(60deg, var(--bg-hex) var(--gradient-edge), transparent var(--sm-gradient-edge-off));
}

.bg-vGradientMd {
  background: linear-gradient(-60deg, var(--bg-hex) var(--gradient-edge), transparent var(--md-gradient-edge-off)),
    linear-gradient(60deg, var(--bg-hex) var(--gradient-edge), transparent var(--md-gradient-edge-off));
}

.bg-forest {
  background-image: url(/img/forest-faded.jpg);
}