@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --bg-hex: hsl(4.62deg 56.52% 95.49%);
  --drawer-width: 280px;
  --gradient-edge: 26%;
  --sm-gradient-edge-off: 26.5%;
  --md-gradient-edge-off: 26.2%;
  --sm-header-height: 160px;
  --md-header-height: 490px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  background: var(--bg-hex);
  color: rgb(var(--foreground-rgb));
}

.bg-vGradientSm {
  background: linear-gradient(-60deg, var(--bg-hex) var(--gradient-edge), transparent var(--sm-gradient-edge-off)),
    linear-gradient(60deg, var(--bg-hex) var(--gradient-edge), transparent var(--sm-gradient-edge-off));
}

.bg-vGradientMd {
  background: linear-gradient(-60deg, var(--bg-hex) var(--gradient-edge), transparent var(--md-gradient-edge-off)),
    linear-gradient(60deg, var(--bg-hex) var(--gradient-edge), transparent var(--md-gradient-edge-off));
}

.bg-forest {
  background-image: linear-gradient(to bottom, hsl(0deg 0% 100% / 15%), hsl(0deg 0% 100% / 15%)), url(/img/fall-forest-1k.jpg);
}

.logo-color {
  /* --bg-hex */
  /* filter: invert(96%) sepia(100%) saturate(344%) hue-rotate(292deg) brightness(106%) contrast(96%); */
  /* filter: invert(72%) sepia(21%) saturate(290%) hue-rotate(175deg) brightness(87%) contrast(85%); */
}